<%= form_for @song do |f| %>

  <% if flash[:error] %>
    <% flash[:error].each do |error| %> 
      <%= error %> <br>
    <% end %> 
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <br>

  <%= f.label :artist %>
  <%= f.text_field :artist %> <br>

  <br>

  <% 3.times do %>
<!--   build_ is called an associated build, so it already has a song_id -->
<!-- scoping around a specific model object -->
    <%= f.fields_for :song_vibes, @song.song_vibes.build do |s_v_builder| %>
<!--     nested build (build_vibe helper) is build for a nested attribute -->
  	 <%= s_v_builder.fields_for :vibe, @song.song_vibes.build.build_vibe do |v_builder| %>
      <%= v_builder.label :vibe, "New Vibe" %>
      <%= v_builder.text_field :name %>
<!--       also will fill in the vibe_id for the song_vibe object -->
      <%= s_v_builder.label :level, "Level (1-5)" %>
      <%= s_v_builder.text_field :level %>
  	<% end %>
    <% end %> <br>
  <% end %>

  <br>

  <% @vibes.each do |v| %>
  	<%= v.name %>
  	<%= f.fields_for :song_vibes, @song.song_vibes.build do |s_v_builder| %>

  		<%= s_v_builder.fields_for :vibe, @song.song_vibes.build.build_vibe do |v_builder| %>
  		<%= v_builder.hidden_field :name, value: v.name %>

      <% end %> 

  	<%= s_v_builder.label "Level (1-5)" %>
  	<%= s_v_builder.text_field :level %> <br>

  	<% end %>
  <% end %> 
  
  <br>

  <br>

  <%= f.submit "Add Song" %>

<% end %>

<p>Account Homepage:</p>
<%= link_to current_user.username, user_path(current_user) %>  <br>
<p>User Index:</p>
<%= link_to "all users", users_path %>