<p>Song:</p>
<%= @song.name %> <br>

<p>Artist:</p>
<%= @song.artist %>

<p>vibes:</p>

<% @song.song_vibes.each do |s_v| %>

	<p> <%= s_v.vibe.name %> level: <%= s_v.level %> </p>
<% end %> <br>

<%= link_to "edit song", edit_song_path(@song) %> <br>
<!-- delete here refers to the verb column in rake routes, but WHY? (not the controller action - "destroy") -->
<%= form_tag song_path(@song), method: "delete" %>
<%= submit_tag "delete song" %> 